body{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    display: inline;
    margin: 20px;
    padding: 0px;
    margin: 0px;
}

.content-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -950px;
    margin-bottom: -35px;
}

.auction-tab{
    border-radius: 15px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 150px) repeat(2, 50px);
    grid-column-gap: 50px;
    width: 1500px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
}

.sold-tab{
    grid-template-columns: repeat(4, 150px) repeat(2, 50px);
    
}

.auction-header{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-column-gap: 50px;
    text-align: center;
    margin-bottom: 35px;
}

.auction-tab button{
    height: 40px;
    background: none;
}

.auction-tab input{
    height: 26px;
}

.cards-header{
    display: grid;
    grid-template-columns: 280px 120px 150px 80px 100px 80px 180px 90px;
    gap: 5px;
    text-align:center;
    padding-bottom: 5px;
    margin-top: 80px;
}

.button-container{
  display: flex;
}

.add-cards-auction{
    padding-left: 30px;
    width: 200px;
    margin-right: 100px;
}

.cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container{
    padding-top: 17px;
}

.card{
    display: grid;
    grid-template-columns: 280px 120px 150px 80px 100px 80px 180px 90px;
    gap: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}