<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/addAuction.css">
    <title>Document</title>
</head>
<body>
    <button><a href="/">Go Back</a></button>
    <dir class="auction-container">
        <dir>
            <label >Auction name</label><br>
            <input type="text" class="auction-name">
        </dir>
        <dir>
            <label>Buy price</label><br>
            <input type="text" class="auction-buy-price" required>
        </dir>
        <dir>
            <label>Auction profit</label><br>
            <input type="text" class="auction-profit">
        </dir>
    </dir>
    <dir>
        <dir class="cards-header">
            <p>Card name</p>
            <p>Condition</p>
            <p>Buy price</p>
            <p>Market price</p>
            <p>Sell price</p>
            <p>Sold</p>
            <p>Profit</p>
        </dir>
        <dir class="cards-container">
            <dir class="card">
                <input type="text" name="cardName">
                <select name="condition">
                    <option value=""></option>
                    <option value="Mint">Mint</option>
                    <option value="Near Mint">Near Mint</option>
                    <option value="Excellent">Excellent</option>
                    <option value="Good">Good</option>
                    <option value="Light Played">Light Played</option>
                    <option value="Played">Played</option>
                    <option value="Poor">Poor</option>
                </select>
                <input type="text" name="buyPrice">
                <input type="text" name="marketValue" class="marketValue" oninput="handleCardInput(this)">
                <input type="text" name="sellPrice">
                <input type="checkbox" name="sold">
                <input type="text" name="profit">
            </dir>
        </dir>
    </dir>
    <button>Add card</button>
    <button class="save-btn">Save</button>
<!--        
<form action="/add" method="post">
<label for="cardName"></label>
<input type="text" name="cardName" required>
<label for="condition"></label>
<select name="condition">
    <option value=""></option>
    <option value="mint">Mint</option>
    <option value="nearMint">Near Mint</option>
    <option value="excellent">Excellent</option>
    <option value="good">Good</option>
    <option value="lightPlayed">Light Played</option>
    <option value="played">Played</option>
    <option value="poor">Poor</option>
</select>
<label for="buyPrice"></label>
<input type="number" name="buyPrice">
<label for="marketValue"></label>
<input type="number" name="marketValue">
<label for="sellPrice"></label>
<input type="number" name="sellPrice">
<button type="submit" value="submit">submit</button>
</form>
-->
    <script src="../static/addAuction.js"></script>
</body>
</html>