<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/auctions-aligment.css">
    <link rel="stylesheet" href="../static/styles/auctions-hollowKnightStyle.css">
    <link rel="stylesheet" href="../static/styles/header-align.css">
    <title>Trade Tracker</title>
</head>
<body>
    <main>
        <h1>Trade<span class="shadow"></span> Tracker</h1>
        <div class="search-bar">
            <input type="text" class="search-field">
            <button class="search-btn">Search</button>
            <div class="search-results"></div>
        </div>
        <header class="header">
            <nav class="nav-bar">
                <div>
                    <span class="arrow left"><img src="../static/images/leftarrow.png" alt="left arrow"></span>
                    <button class="addAuction"><a href="{{ url_for('actions.addAuction') }}">Add auction</a></button>
                    <span class="arrow left"><img src="../static/images/rightarrow.png" alt="left arrow"></span>
                </div>
                <div>
                    <span class="arrow left"><img src="../static/images/leftarrow.png" alt="left arrow"></span>
                    <button class="addSingles"><a href="{{ url_for('actions.addSingles') }}">Add Singles</a></button>
                    <span class="arrow left"><img src="../static/images/rightarrow.png" alt="left arrow"></span>
                </div>
                <div>
                    <span class="arrow left"><img src="../static/images/leftarrow.png" alt="left arrow"></span>
                    <button class="addAuction"><a href="{{ url_for('actions.sold') }}">Sold</a></button>
                    <span class="arrow left"><img src="../static/images/rightarrow.png" alt="left arrow"></span>
                </div>
                <div>
                    <span class="arrow left"><img src="../static/images/leftarrow.png" alt="left arrow"></span>
                    <button class="collection"><a href="{{ url_for('actions.renderCollection')}}">Collection</a></button>
                    <span class="arrow left"><img src="../static/images/rightarrow.png" alt="left arrow"></span>
                </div>
                <div class="import-sold-csv-container">
                    <label for="csv-upload" class="import-sold-csv-label" name="upload">
                    <span class="arrow left"><img src="../static/images/leftarrow.png" alt="left arrow"></span>
                    <p class="upload-text">Upload CSV</p>
                    <button class="import-sold-csv"><input type="file" accept=".csv" name="csv-upload"></button>
                    <span class="arrow left"><img src="../static/images/rightarrow.png" alt="left arrow"></span>                   
                    </label>
                </div>
                <div class="sales">
                    <button class="sales-btn">Sales</button>
                </div>

                <div class="total-profit">                   
                    <div><p class="total-profit-header">Profit</p></div>
                    <div><p class="total-profit-value"></p></div>
                </div>
                <div class="inventory-value">
                    <div><p class="inventory-value-header">Inventory</p></div>
                    <div><p class="inventory-value-value"></p></div>
                </div>
            </nav>
        </header>
        <div class="shopping-cart">
            <div class="cart-content"></div>
            <p>CardMarker</p><input type="checkbox" class="vendor-type"><p>Other</p>
            <button class="confirm-btn">Complete invoice</button>
        </div>

        <div>
            <div class="header-container">
                <div class="auction-header">
                    <p>Auction name</p>
                    <p>Auction price</p>
                    <p>Auction profit</p>
                </div>
            </div>
            <div class="content-container">
                <div class="auction-container"></div>

            </div>
            <button class="group-unnammed">Group unnamed auctions</button>
        </div>
    </main>
    <script type="module" src="../static/main.js"></script>
</body>
</html>
