<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Trade Tracker</title>
</head>
<body>
    <main>
        <h1>Trade Tracker</h1>
        <header class="header">
            <nav class="nav-bar">
                <button class="addAuction"><a href="{{ url_for('actions.addAuction') }}">Add auction</a></button>
                <button class="addSingles"><a href="{{ url_for('actions.addSingles') }}">Add Singles</a></button>
                <button class="collection"><a href="{{ url_for('actions.renderCollection')}}">Collection</a></button>
                <label for="csv-upload" class="import-sold-csv-label">
                    <button class="import-sold-csv"><input type="file" accept=".csv" name="csv-upload"></button>
                </label>
            </nav>
            <div class="total-profit">
                <div><p class="total-profit-header">Total profit</p></div>
                <div><p class="total-profit-value"></p></div>
            </div>
            <div class="inventory-value">
                <div><p class="inventory-value-header">Inventory value</p></div>
                <div><p class="inventory-value-value"></p></div>
            </div>
        </header>
        <div class="auction-header">
            <p>Auction name</p>
            <p>Auction price</p>
            <p>Auction profit</p>
        </div>
        <div class="auction-container">

        </div>
    </main>
    <script type="module" src="../static/main.js"></script>
</body>
</html>