<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Trade tracker</title>
</head>
<body>
    <main>
        <h1>Trade Tracker</h1>
        <button class="add"><a href="{{ url_for('actions.addForm') }}">Add auction</a></button>
        <dir class="auction-container">
            <dir class="auction-tab">
                <p>auction</p>
                <p>Buy price</p>
                <p>placeholder $</p>
                <p>Profit</p>
                <p>placeholder $</p>
                <button class="del-btn">Delete</button>
            </dir>
            <dir>
                <p>card Name</p>
                <select>
                    <option value=""></option>
                    <option value="Mint">Mint</option>
                    <option value="Near Mint">Near Mint</option>
                    <option value="Excellent">Excellent</option>
                    <option value="Good">Good</option>
                    <option value="Light Played">Light Played</option>
                    <option value="Played">Played</option>
                    <option value="Poor">Poor</option>
                </select>
                <p>buy price</p>
                <p>Market price</p>
                <p>sell price</p>
                <p>sold</p>
                <p>profit</p>
            </dir>
        </dir>
    </main>
    <script src="../static/main.js"></script>
</body>
</html>